################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/qwerty_remote/.net/qwerty_keyboard/.vs/qwerty_keyboard
/qwerty_remote/.net/qwerty_keyboard/qwerty_keyboard/bin/Debug/net6.0
/qwerty_remote/.net/qwerty_keyboard/qwerty_keyboard/obj/Debug/net6.0
/qwerty_remote/.net/qwerty_keyboard/qwerty_keyboard/obj
/.idea/inspectionProfiles
/.vs
