################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/qwerty_remote/.net/qwerty_keyboard/.vs/qwerty_keyboard
